body{
    font-family: monospace;
    color: rgb(0, 0, 0);
    font-size: 200%;
    background: #ef7a7a;
}
#div1{
   background-color: rgb(205, 227, 246);
   border: 10px solid rgb(239, 57, 57);
   padding: 80px;
   margin: 30px;
   text-align: center;
}
#div2{
    background-color: rgb(205, 227, 246);
    border: 10px solid rgb(239, 57, 57);
    padding: 80px;
    margin: 30px;
    text-align: center;
}
